<section class="about section">
  <div class="container">
    <div class="about-container">
      <p class="about-container__uppertitle">tradition and love</p>
      <h2 class="about-container__title">how it’s made?</h2>
    </div>
    <div class="about-content">
      <picture class="about-img">
        <source
          srcset="
            ./images/desktop/about-ds_1.webp    1x,
            ./images/desktop/about-ds_1@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/about-ds_1.png    1x,
            ./images/desktop/about-ds_1@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet/about-tb.webp    1x,
            ./images/tablet/about-tb@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/about-tb.png    1x,
            ./images/tablet/about-tb@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/mobile/about-mb_1.webp    1x,
            ./images/mobile/about-mb_1@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/mobile/about-mb_1.png    1x,
            ./images/mobile/about-mb_1@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img src="./images/desktop/about-ds_1.png" alt="cow with milk" />
      </picture>

      <!-- <img
        class="about-img"
        src="./images/desktop/about-ds_1.png"
        alt=""
        width="280"
      /> -->
      <div class="about-made__element">
        <p class="about-made__element-uppertitle">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <p class="about-made__element-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br /><br />Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about-made__button" type="button">
          <span>Read more</span>
          <svg class="btn-icon" width="8" height="12">
            <use href="./images/icons.svg#icon-more"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="about-field">
      <ul class="about-field__item">
        <li class="about-field__list">
          <svg class="about-field__icon" width="33" height="50">
            <use href="./images/icons.svg#icon-advantages-1"></use>
          </svg>
          <p class="about-field__list-price">721</p>
          <p class="about-field__list-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="about-field__list">
          <svg class="about-field__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-advantages-2"></use>
          </svg>
          <p class="about-field__list-price">16kg</p>
          <p class="about-field__list-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="about-field__list">
          <svg class="about-field__icon" width="44" height="50">
            <use href="./images/icons.svg#icon-advantages-3"></use>
          </svg>
          <p class="about-field__list-price">84</p>
          <p class="about-field__list-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
