<section id="how" class="about section">
  <div class="container">
    <div class="about-container">
      <p class="about-container__uppertitle">tradition and love</p>
      <h2 class="about-container__title">how it’s made?</h2>
    </div>
    <div class="about-content">
      <picture class="about-img">
        <source srcset="
            ./images/desktop/about-ds_1.webp 501w,
            ./images/desktop/about-ds_1@2x.webp 1002w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 501px"
          type="image/webp" />
        <source srcset="
            ./images/desktop/about-ds_1.png 501w,
            ./images/desktop/about-ds_1@2x.png 1002w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 501px"
          type="image/png" />
        <source srcset="
            ./images/tablet/about-tb.webp 336w,
            ./images/tablet/about-tb@2x.webp 672w" media="(min-width: 768px)" sizes="(max-width: 1199px) 336px"
          type="image/webp" />
        <source srcset="
            ./images/tablet/about-tb.png 336w,
            ./images/tablet/about-tb@2x.png 672w
          " media="(min-width: 768px)" sizes="(max-width: 1199px) 336px" type="image/png" />
        <source srcset="
            ./images/mobile/about-mb_1.webp 280w,
            ./images/mobile/about-mb_1@2x.webp 560w" media="(max-width: 767px)" sizes="(max-width: 767px) 280px"
          type="image/webp" />
        <source srcset="
            ./images/mobile/about-mb_1.png 280w,
            ./images/mobile/about-mb_1@2x.png 560w" media="(max-width: 767px)" sizes="(max-width: 767px) 280px"
          type="image/png" />
        <img src="./images/desktop/about-ds_1.png" alt="cow with milk" loading="lazy" />
      </picture>

      <!-- <img
        class="about-img"
        src="./images/desktop/about-ds_1.png"
        alt=""
        width="280"
      /> -->
      <div class="about-made__element">
        <p class="about-made__element-uppertitle">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <p class="about-made__element-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br /><br />Aliquam erat volutpat. Aenean accumsan.
        <details class="about-made__more">
          <p class="about-made__element-more">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
          </p>

          <summary class="about-made__button" data-open="Read less" data-close="Read more">
            <svg class="btn-icon" width="8" height="12">
              <use href="./images/icons.svg#icon-more"></use>
            </svg>
          </summary>
        </details>
        </p>
      </div>
    </div>
  </div>
</section>