<section id="products" class="advantages">
    <div class="container">
        <div class="about-field">
            <ul class="about-field__item">
                <li class="about-field__list">
                    <svg class="about-field__icon" width="33" height="50">
                        <use href="./images/icons.svg#icon-advantages-1"></use>
                    </svg>
                    <p class="about-field__list-price">721</p>
                    <p class="about-field__list-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="about-field__list">
                    <svg class="about-field__icon" width="50" height="50">
                        <use href="./images/icons.svg#icon-advantages-2"></use>
                    </svg>
                    <p class="about-field__list-price">16kg</p>
                    <p class="about-field__list-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="about-field__list">
                    <svg class="about-field__icon" width="44" height="50">
                        <use href="./images/icons.svg#icon-advantages-3"></use>
                    </svg>
                    <p class="about-field__list-price">84</p>
                    <p class="about-field__list-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>