<section class="contact">
    <!-- <div class="contact-div"> -->
    <div class="contact-conteiner">
        <button class="contact-button">cafe</button>
        <ul class="contact-list">
            <li class="contact-list_item">
                <h2 class="contact-title">Chicago</h2>
                <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-list_item">
                <h3 class="contact-timetable">Monday - Friday</h3>
                <p class="contact-time">06:00 AM - 10:00 PM</p>
                <h3 class="contact-timetable">Saturday - Sunday</h3>
                <p class="contact-time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact-list_item">
                <a href="telto:" class="contact-link">+61(0) 383 766 284</a>
                <a href="mailto:" class="contact-link">noreply@envato.com</a>
            </li>
        </ul>
    </div>
    <div class="contact-conteiner">
        <button class="contact-button__foodtrack">food track</button>
        <ul class="contact-list">
            <li class="contact-list_item">
                <h2 class="contact-title">Los Angeles</h2>
                <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-list_item">
                <h3  class="contact-timetable">Monday - Friday</h3>
                <p class="contact-time">06:00 AM - 10:00 PM</p>
                <h3 class="contact-timetable">Saturday - Sunday</h3>
                <p class="contact-time"> 08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact-list_item">
                <a href="telto:" class="contact-link">+61(0) 383 766 284</a>
                <a href="mailto:" class="contact-link">noreply@envato.com</a>
            </li>
        </ul>
    </div>
    <div class="contact-conteiner">
        <button class="contact-button">cafe</button>
        <ul class="contact-list">
            <li class="contact-list_item">
                <h2 class="contact-title">New York</h2>
                <p class="contact-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-list_item">
                <h3 class="contact-timetable">Monday - Friday</h3>
                <p class="contact-time">06:00 AM - 10:00 PM</p>
                <h3 class="contact-timetable">Saturday - Sunday</h3>
                <p class="contact-time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact-list_item">
                <a href="telto:" class="contact-link">+61(0) 383 766 284</a>
                <a href="mailto:" class="contact-link">noreply@envato.com</a>
            </li>
    </ul>
</div>
<!-- </div> -->
</section>