<section class="contacts" id="contacts">
  <div class="contacts__container" data-aos="fade-up" data-aos-duration="1600">
    <h2 class="contacts__title visually-hidden">Ice Cream contacts</h2>

    <ul class="contacts__list list card">
      <li class="contacts__list-item card-set">
        <p class="contacts__list-title">CAFE</p>
        <ul class="item-list">
          <li class="item-list-1">
            <p class="contacts__list-subtitle p">Chicago</p>
            <p class="contacts__list-descr">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>

          <li class="item-list-2">
            <p class="contacts__list-subtitle">Monday - Friday</p>
            <p class="contacts__list-time contacts__list-time-1">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__list-subtitle">Saturday - Sunday</p>
            <p class="contacts__list-time">08:00 AM - 16:00 PM</p>
          </li>

          <li class="item-list-3">
            <a class="item-list__contacts" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="item-list__contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__list-item card-set">
        <p class="contacts__list-title contacts__list-title--green">
          FOOD TRUCK
        </p>
        <ul class="item-list">
          <li class="item-list-1">
            <p class="contacts__list-subtitle p">Los Angeles</p>
            <p class="contacts__list-descr">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>

          <li class="item-list-2">
            <p class="contacts__list-subtitle">Monday - Friday</p>
            <p class="contacts__list-time contacts__list-time-1">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__list-subtitle">Saturday - Sunday</p>
            <p class="contacts__list-time">08:00 AM - 16:00 PM</p>
          </li>

          <li class="item-list-3">
            <a class="item-list__contacts" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="item-list__contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__list-item card-set">
        <p class="contacts__list-title">CAFE</p>
        <ul class="item-list">
          <li class="item-list-1">
            <p class="contacts__list-subtitle p">New York</p>
            <p class="contacts__list-descr">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>

          <li class="item-list-2">
            <p class="contacts__list-subtitle">Monday - Friday</p>
            <p class="contacts__list-time contacts__list-time-1">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__list-subtitle">Saturday - Sunday</p>
            <p class="contacts__list-time">08:00 AM - 16:00 PM</p>
          </li>

          <li class="item-list-3">
            <a class="item-list__contacts" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="item-list__contacts" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="footer__btn-wrapper">
    <button
      class="common__btn-prim"
      type="button"
      aria-label="open our location"
    >
      Our Locations
      <svg class="btn-icon-white" width="8" height="12">
        <use href="./images/icons.svg#icon-more_2"></use>
      </svg>
    </button>
    <button class="common__btn-sec" type="button" aria-label="open franchise">
      Franchise
      <svg class="btn-icon" width="8" height="12">
        <use href="./images/icons.svg#icon-more"></use>
      </svg>
    </button>
  </div>
</section>
