<section>
    <div>
        <button>cafe</button>
        <ul>
            <li>
                <h2>Chicago</h2>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
                <h3>Monday - Friday</h3>
                <p>06:00 AM - 10:00 PM</p>
                <h3>Saturday - Sunday</h3>
                <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="telto:">+61(0) 383 766 284</a>
                <a href="mailto:">noreply@envato.com</a>
            </li>
        </ul>
    </div>
    <div>
        <button>foodtrack</button>
        <ul>
            <li>
                <h2>Los Angeles</h2>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
                <h3>Monday - Friday</h3>
                <p>06:00 AM - 10:00 PM</p>
                <h3>Saturday - Sunday</h3>
                <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="telto:">+61(0) 383 766 284</a>
                <a href="mailto:">noreply@envato.com</a>
            </li>
        </ul>
    </div>
    <div>
        <button>cafe</button>
        <ul>
            <li>
                <h2>New York</h2>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
                <h3>Monday - Friday</h3>
                <p>06:00 AM - 10:00 PM</p>
                <h3>Saturday - Sunday</h3>
                <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="telto:">+61(0) 383 766 284</a>
                <a href="mailto:">noreply@envato.com</a>
            </li>
    </ul>
</div>
</section>