<footer class="footer">
  <div class="container footer_container">
    <div class="footer__content">
      <div class="footer__title-wrapper">
        <span class="footer__label-sec">homemade ice cream made</span
        ><span class="footer__label">with passion</span>
      </div>
      <div class="footer_contacts-wrapper">
        <ul class="social__list">
          <li class="social__item">
            <a href="https://github.com" target="_blank" class="social__link"
              ><svg class="social__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="social__item">
            <a href="https://telegram.org" target="_blank" class="social__link"
              ><svg class="social__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="social__link"
              ><svg class="social__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer_tel-wrapper">
          <span class="footer__contact-text">Feel free to contact </span>
          <a href="tel:+610383766284" class="footer__contact-tel"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="rights">
    <p class="rights__text"><span>&#169;</span> 2022 - IceCream.&nbsp;</p>
    <p class="rights__text">All Rights Reserved.</p>
  </div>
</footer>
