<section class="gallery" id="gallery">
  <div class="gallery__container">
    <div class="gallery__list" data-aos="fade-up" data-aos-duration="1600">
      <div class="gallery__item-one column">
        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_1.webp    138w,
              ./images/desktop/gallery-ds_1@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_1.png    138w,
              ./images/desktop/gallery-ds_1@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_1.webp    105w,
              ./images/tablet/gallery-tb_1@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_1.png    105w,
              ./images/tablet/gallery-tb_1@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_1.webp    45w,
              ./images/mobile/gallery-mb_1@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_1.png    45w,
              ./images/mobile/gallery-mb_1@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />

          <img class="gallery__image--one" src="./images/desktop/gallery-ds_1.png" alt="IceCream dessert" width="138"
            height="138" loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item-two">
        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_2.webp    138w,
              ./images/desktop/gallery-ds_2@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_2.png    138w,
              ./images/desktop/gallery-ds_2@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_2.webp    105w,
              ./images/tablet/gallery-tb_2@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_2.png    105w,
              ./images/tablet/gallery-tb_2@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_2.webp    45w,
              ./images/mobile/gallery-mb_2@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_2.png    45w,
              ./images/mobile/gallery-mb_2@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />
          <img class="gallery__image--two gap" src="./images/desktop/gallery-ds_2.png" alt="IceCream in hand"
            width="138" height="138" loading="lazy" />
        </picture>

        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_3.webp    138w,
              ./images/desktop/gallery-ds_3@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_3.png    138w,
              ./images/desktop/gallery-ds_3@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_3.webp    105w,
              ./images/tablet/gallery-tb_3@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_3.png    105w,
              ./images/tablet/gallery-tb_3@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />

          <source srcset="
              ./images/mobile/gallery-mb_3.webp    45w,
              ./images/mobile/gallery-mb_3@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_3.png    45w,
              ./images/mobile/gallery-mb_3@2x.png 88w
            " type="image/png" />

          <img class="gallery__image--three" src="./images/desktop/gallery-ds_3.png" alt="Raspberry Ice Cream"
            width="138" height="138" loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item-three column">
        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_4.webp    283w,
              ./images/desktop/gallery-ds_4@2x.webp 566w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 283px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_4.png    283w,
              ./images/desktop/gallery-ds_4@2x.png 566w
            " sizes="(min-width: 1200px) 283px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_4.webp    215w,
              ./images/tablet/gallery-tb_4@2x.webp 430w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 215px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_4.png    215w,
              ./images/tablet/gallery-tb_4@2x.png 430w
            " sizes="(min-width: 768px) 215px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_4.webp     91w,
              ./images/mobile/gallery-mb_4@2x.webp 180w
            " media="(max-width: 767px)" sizes="(max-width: 768px) 91px" type="image/webp" />

          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_4.png     91w,
              ./images/mobile/gallery-mb_4@2x.png 180w
            " sizes="(max-width: 768px) 91px" type="image/png" />

          <img class="gallery__image--four gap" src="./images/desktop/gallery-ds_4.png"
            alt="Ice Cream cones with flowers" width="283" height="283" loading="lazy" />
        </picture>

        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_5.webp    138w,
              ./images/desktop/gallery-ds_5@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_5.png    138w,
              ./images/desktop/gallery-ds_5@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_5.webp    105w,
              ./images/tablet/gallery-tb_5@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_5.png    105w,
              ./images/tablet/gallery-tb_5@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_5.webp    45w,
              ./images/mobile/gallery-mb_5@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_5.png    45w,
              ./images/mobile/gallery-mb_5@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />

          <img class="gallery__image--five" src="./images/desktop/gallery-ds_5.png" alt="Girl with Ice Cream"
            width="138" height="138" loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item-four column">
        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_6.webp    138w,
              ./images/desktop/gallery-ds_6@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_6.png    138w,
              ./images/desktop/gallery-ds_6@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_6.webp    105w,
              ./images/tablet/gallery-tb_6@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_6.png    105w,
              ./images/tablet/gallery-tb_6@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_6.webp    45w,
              ./images/mobile/gallery-mb_6@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_6.png    45w,
              ./images/mobile/gallery-mb_6@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />
          <img class="gallery__image--six" src="./images/desktop/gallery-ds_6.png" alt="ice cream still life"
            width="138" height="138" loading="lazy" />
        </picture>

        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_7.webp    138w,
              ./images/desktop/gallery-ds_7@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_7.png    138w,
              ./images/desktop/gallery-ds_7@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_7.webp    105w,
              ./images/tablet/gallery-tb_7@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_7.png    105w,
              ./images/tablet/gallery-tb_7@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_7.webp    45w,
              ./images/mobile/gallery-mb_7@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_7.png    45w,
              ./images/mobile/gallery-mb_7@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />
          <img class="gallery__image--seven" src="./images/desktop/gallery-ds_7.png" alt="Red Ice Cream cone"
            width="138" height="138" loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item-five column">
        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_8.webp    138w,
              ./images/desktop/gallery-ds_8@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_8.png    138w,
              ./images/desktop/gallery-ds_8@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_8.webp    105w,
              ./images/tablet/gallery-tb_8@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_8.png    105w,
              ./images/tablet/gallery-tb_8@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_8.webp    45w,
              ./images/mobile/gallery-mb_8@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_8.png    45w,
              ./images/mobile/gallery-mb_8@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />

          <img class="gallery__image--eight" src="./images/desktop/gallery-ds_8.png" alt="Little dog eats Ice Cream"
            width="138" height="138" loading="lazy" />
        </picture>

        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_9.webp    138w,
              ./images/desktop/gallery-ds_9@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_9.png    138w,
              ./images/desktop/gallery-ds_9@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_9.webp    105w,
              ./images/tablet/gallery-tb_9@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_9.png    105w,
              ./images/tablet/gallery-tb_9@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />

          <source srcset="
              ./images/mobile/gallery-mb_9.webp    45w,
              ./images/mobile/gallery-mb_9@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />

          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_9.png    45w,
              ./images/mobile/gallery-mb_9@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />
          <img class="gallery__image--nine" src="./images/desktop/gallery-ds_9.png" alt="chocolate milk shake"
            width="138" height="138" loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item-six column">
        <picture>
          <source srcset="
              ./images/desktop/gallery-ds_10.webp    138w,
              ./images/desktop/gallery-ds_10@2x.webp 276w
            " media="(min-width: 1200px)" sizes="(min-width: 1200px) 138px" type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/desktop/gallery-ds_10.png    138w,
              ./images/desktop/gallery-ds_10@2x.png 276w
            " sizes="(min-width: 1200px) 138px" type="image/png" />
          <source srcset="
              ./images/tablet/gallery-tb_10.webp    105w,
              ./images/tablet/gallery-tb_10@2x.webp 210w
            " media="(min-width: 768px)" sizes="(min-width: 768px) 105px" type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/tablet/gallery-tb_10.png    105w,
              ./images/tablet/gallery-tb_10@2x.png 210w
            " sizes="(min-width: 768px) 105px" type="image/png" />
          <source srcset="
              ./images/mobile/gallery-mb_10.webp    45w,
              ./images/mobile/gallery-mb_10@2x.webp 88w
            " media="(max-width: 768px)" sizes="(max-width: 768px) 45px" type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/mobile/gallery-mb_10.png    45w,
              ./images/mobile/gallery-mb_10@2x.png 88w
            " sizes="(max-width: 768px) 45px" type="image/png" />

          <img class="gallery__image--ten" src="./images/desktop/gallery-ds_10.png" alt="Ice Cream cake" width="138"
            height="138" loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>