<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery__container">
      <div class="gallery__list" data-aos="fade-up" data-aos-duration="1600">
        <div class="gallery__item-one column">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_1.png    1x,
                ./images/desktop/gallery-ds_1@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_1.png    1x,
                ./images/tablet/gallery-tb_1@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_1.png    1x,
                ./images/mobile/gallery-mb_1@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--one"
              src="./images/mobile/gallery-mb_1.png"
              alt="IceCream dessert"
            />
          </picture>
        </div>

        <div class="gallery__item-two">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_2.webp,
                ./images/desktop/gallery-ds_2@2x.webp,
                ./images/desktop/gallery-ds_2.png     1x,
                ./images/desktop/gallery-ds_2@2x.png  2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_2.png    1x,
                ./images/tablet/gallery-tb_2@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_2.png    1x,
                ./images/mobile/gallery-mb_2@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--two gap"
              src="./images/mobile/gallery-mb_2.png"
              alt="IceCream in hand"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_3.png    1x,
                ./images/desktop/gallery-ds_3@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_3.png    1x,
                ./images/tablet/gallery-tb_3@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_3.png    1x,
                ./images/mobile/gallery-mb_3@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--three"
              src="./images/mobile/gallery-mb_3.png"
              alt="Raspberry Ice Cream"
            />
          </picture>
        </div>

        <div class="gallery__item-three column">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_4.png    1x,
                ./images/desktop/gallery-ds_4@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_4.png    1x,
                ./images/tablet/gallery-tb_4@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_4.png    1x,
                ./images/mobile/gallery-mb_4@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--four gap"
              src="./images/mobile/gallery-mb_4.png"
              alt="Ice Cream cones with flowers"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_5.png    1x,
                ./images/desktop/gallery-ds_5@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_5.png    1x,
                ./images/tablet/gallery-tb_5@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_5.png    1x,
                ./images/mobile/gallery-mb_5@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--five"
              src="./images/mobile/gallery-mb_5.png"
              alt="Girl with Ice Cream"
            />
          </picture>
        </div>

        <div class="gallery__item-four column">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_6.png    1x,
                ./images/desktop/gallery-ds_6@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_6.png    1x,
                ./images/tablet/gallery-tb_6@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_6.png    1x,
                ./images/mobile/gallery-mb_6@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="gallery__image--six"
              src="./images/mobile/gallery-mb_6.png"
              alt="ice cream still life"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_7.png    1x,
                ./images/desktop/gallery-ds_7@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_7.png    1x,
                ./images/tablet/gallery-tb_7@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_7.png    1x,
                ./images/mobile/gallery-mb_7@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="gallery__image--seven"
              src="./images/mobile/gallery-mb_7.png"
              alt="Red Ice Cream cone"
            />
          </picture>
        </div>

        <div class="gallery__item-five column">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_8.png    1x,
                ./images/desktop/gallery-ds_8@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_8.png    1x,
                ./images/tablet/gallery-tb_8@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_8.png    1x,
                ./images/mobile/gallery-mb_8@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--eight"
              src="./images/mobile/gallery-mb_8.png"
              alt="Little dog eats Ice Cream"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_9.png    1x,
                ./images/desktop/gallery-ds_9@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_9.png    1x,
                ./images/tablet/gallery-tb_9@2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_9.png    1x,
                ./images/mobile/gallery-mb_9@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--nine"
              src="./images/mobile/gallery-mb_9.png"
              alt="chocolate milk shake"
            />
          </picture>
        </div>

        <div class="gallery__item-six column">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/gallery-ds_10.png    1x,
                ./images/desktop/gallery-ds_10@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/gallery-tb_10.png    1x,
                ./images/tablet/gallery-tb_10@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/gallery-mb_10.png    1x,
                ./images/mobile/gallery-mb_10@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="gallery__image--ten"
              src="./images/mobile/gallery-mb_10.png"
              alt="Ice Cream cake"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
