<!-- Hero-header -->
<section class="section-hero">
  <div class="container-hero">
    <header class="header">
      <a class="link logo" href="">
        <svg class="logo-icon" width="199" height="50">
          <use href="./images/icons.svg#icon-logo"></use></svg
      ></a>
      <button class="btn-burger-menu" type="button" data-menu-button>
        <svg class="mobile-menu-icon" width="24" height="12">
          <use
            class="mobile-menu-icon__burger"
            href="./images/icons.svg#icon-menu"
          ></use>
          <use
            class="mobile-menu-icon__close"
            href="./images/icons.svg#icon-cross"
          ></use>
        </svg>
      </button>
    </header>
    <div class="slogan-box">
      <h1 class="lead-slogan">
        ice cream made with <span class="accent">passion</span>
      </h1>
      <button class="btn btn-red" type="button">Products</button>
      <button class="btn btn-white" type="button">How it’s made?</button>
    </div>
  </div>
</section>
<!-- Mobile menu -->
<div class="mobile-menu" data-menu>
  <button class="btn btn-mobile-menu" type="button">
    <span>Buy now</span>
    <svg class="btn-mobile-menu__icon" width="8" height="12">
      <use href="./images/icons.svg#icon-arrow"></use>
    </svg>
  </button>
  <ul class="list mobile-menu-nav">
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link current" href="#home">Home</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#about">About us</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#how">How it’s made?</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#products">Our products</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#contacts">Contact</a>
    </li>
  </ul>
</div>
