<!-- Hero-header -->
<section class="section-hero">
  <div class="container-hero">
    <header class="header">
      <a class="link logo" href="">
        <svg class="logo-icon" width="199" height="50">
          <use href="./images/icons.svg#icon-logo"></use></svg
      ></a>
      <ul class="list menu-nav">
        <li class="menu-nav__item">
          <a class="link menu-nav__link current" href="#home">Home</a>
        </li>
        <li class="menu-nav__item">
          <a class="link menu-nav__link" href="#about">About us</a>
        </li>
        <li class="menu-nav__item">
          <a class="link menu-nav__link" href="#how">How it’s made?</a>
        </li>
        <li class="menu-nav__item">
          <a class="link menu-nav__link" href="#products">Our products</a>
        </li>
        <li class="menu-nav__item">
          <a class="link menu-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
      <button class="btn-burger-menu" type="button" data-menu-button>
        <svg class="mobile-menu-icon" width="24" height="12">
          <use
            class="mobile-menu-icon__burger"
            href="./images/icons.svg#icon-menu"
          ></use>
          <use
            class="mobile-menu-icon__close"
            href="./images/icons.svg#icon-cross"
          ></use>
        </svg>
      </button>
      <button class="btn btn-mobile-header" type="button" data-modal-open>
        <span>Buy now</span>
        <svg class="btn-mobile-header__icon" width="8" height="12">
          <use href="./images/icons.svg#icon-more"></use>
        </svg>
      </button>

      <button
        onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0; "
        id="myBtn"
        title="Go to top"
      >
        <svg class="btn-top__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </header>
    <div class="circle">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/tablet/hero-tb_ellipse.webp    346w,
            ./images/tablet/hero-tb_ellipse@2x.webp 692w
          "
          sizes="(max-width: 767px) 346px"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/tablet/hero-tb_ellipse.png    346w,
            ./images/tablet/hero-tb_ellipse@2x.png 692w
          "
          sizes="(max-width: 767px) 346px"
          type="image/png"
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/tablet/hero-tb_ellipse.webp    335w,
            ./images/tablet/hero-tb_ellipse@2x.webp 670w
          "
          sizes="(max-width: 1199px) 335px"
          type="image/webp"
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/tablet/hero-tb_ellipse.png    335w,
            ./images/tablet/hero-tb_ellipse@2x.png 670w
          "
          sizes="(max-width: 1199px) 335px"
          type="image/png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/hero-ds_ellipse.webp     534w,
            ./images/desktop/hero-ds_ellipse@2x.webp 1068w
          "
          sizes="(min-width: 1200px) 534px"
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/hero-ds_ellipse.png     534w,
            ./images/desktop/hero-ds_ellipse@2x.png 1068w
          "
          sizes="(min-width: 1200px) 534px"
          type="image/png"
        />
        <img
          src="./images/tablet/hero-tb_ellipse.png"
          alt="Circle"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="ice-cream" data-aos="fade-left" data-aos-duration="1600">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/hero-mb.webp    171w,
            ./images/mobile/hero-mb@2x.webp 342w
          "
          sizes="(max-width: 767px) 171px"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/hero-mb.png    171w,
            ./images/mobile/hero-mb@2x.png 342w
          "
          sizes="(max-width: 767px) 171px"
          type="image/png"
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/tablet/hero-tb_2.webp    143w,
            ./images/tablet/hero-tb_2@2x.webp 286w
          "
          sizes="(max-width: 1199px) 143px"
          type="image/webp"
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/tablet/hero-tb_2.png    143w,
            ./images/tablet/hero-tb_2@2x.png 286w
          "
          sizes="(max-width: 1199px) 143px"
          type="image/png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/hero-ds_2.webp    236w,
            ./images/desktop/hero-ds_2@2x.webp 472w
          "
          sizes="(min-width: 1200px) 236px"
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/hero-ds_2.png    236w,
            ./images/desktop/hero-ds_2@2x.png 472w
          "
          sizes="(min-width: 1200px) 236px"
          type="image/png"
        />
        <img
          src="./images/tablet/hero-tb_2.png"
          alt="Ice-cream"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="slogan-box">
      <h1 class="lead-slogan">
        ice cream made with <span class="accent">passion</span>
      </h1>
      <div class="link-box">
        <a class="link link-red" href="#products">Products</a>
        <a class="link link-white" href="#how">How it’s made?</a>
      </div>
    </div>
    <div class="milk-box">
      <div class="milk-box__pic">
        <picture>
          <source
            media="(max-width: 1199px)"
            srcset="
              ./images/tablet/hero-tb_1.webp    152w,
              ./images/tablet/hero-tb_1@2x.webp 304w
            "
            sizes="(max-width: 1199px) 152px"
            type="image/webp"
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ./images/tablet/hero-tb_1.png    152w,
              ./images/tablet/hero-tb_1@2x.png 304w
            "
            sizes="(max-width: 1199px) 152px"
            type="image/png"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/hero-ds_1.webp    213w,
              ./images/desktop/hero-ds_1@2x.webp 426w
            "
            sizes="(min-width: 1200px) 213px"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/hero-ds_1.png    213w,
              ./images/desktop/hero-ds_1@2x.png 426w
            "
            sizes="(min-width: 1200px) 213px"
            type="image/png"
          />
          <img
            src="./images/tablet/hero-tb_1.png"
            alt="Milk jug"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="milk-box__wrap">
        <span class="milk-box__text"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et</span
        >
        <button class="milk-box__btn" type="button">
          <svg class="milk-box--icon" width="6" height="10">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="account-box">
      <li class="account-box__cafes">
        <a
          href="https://goo.gl/maps/HF5Ewv6z34aJ4FrT8"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="account-box__number">16</div>
          <div class="account-box__text">cafes</div>
          <div class="account-box__circle"></div>
        </a>
      </li>
      <li class="account-box__trucks">
        <a
          href="https://goo.gl/maps/HF5Ewv6z34aJ4FrT8"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="account-box__number">23</div>
          <div class="account-box__text">food trucks</div>
          <div class="account-box__circle"></div>
        </a>
      </li>
    </ul>
    <div class="girl">
      <picture>
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/tablet/hero-tb_3.webp    190w,
            ./images/tablet/hero-tb_3@2x.webp 380w
          "
          sizes="(max-width: 1199px) 190px"
          type="image/webp"
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./images/tablet/hero-tb_3.png    190w,
            ./images/tablet/hero-tb_3@2x.png 380w
          "
          sizes="(max-width: 1199px) 190px"
          type="image/png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/hero-ds_3.webp    304w,
            ./images/desktop/hero-ds_3@2x.webp 608w
          "
          sizes="(min-width: 1200px) 304px"
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/hero-ds_3.png    304w,
            ./images/desktop/hero-ds_3@2x.png 608w
          "
          sizes="(min-width: 1200px) 304px"
          type="image/png"
        />
        <img
          src="./images/tablet/hero-tb_3.png"
          alt="Girl with ice-cream"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
<!-- Mobile menu -->
<div class="mobile-menu" data-menu>
  <button class="btn btn-mobile-menu" type="button" data-modal-open-2>
    <span>Buy now</span>
    <svg class="btn-mobile-menu__icon" width="8" height="12">
      <use href="./images/icons.svg#icon-more"></use>
    </svg>
  </button>
  <ul class="list mobile-menu-nav">
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link current" href="#home">Home</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#about">About us</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#how">How it’s made?</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#products">Our products</a>
    </li>
    <li class="mobile-menu-nav__item">
      <a class="link mobile-menu-nav__link" href="#contacts">Contact</a>
    </li>
  </ul>
</div>
