<section class="products" id="about">
  <div class="container">
    <p class="products__label">100&#37; natural</p>
    <h2 class="products__title">products</h2>
    <ul
      class="products__list list card"
      data-aos="fade-up"
      data-aos-duration="1600"
    >
      <li class="products__item card-set">
        <div class="products__front">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua.
          </p>
          <button
            class="products__open"
            type="button"
            aria-label="open more details"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="products__back">
          <h3 class="products__subtitle--back">ice cream ingredients</h3>
          <p class="products__desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto
            laudantium distinctio neque omnis fugit explicabo minus officia sint
            similique. Esse consequatur non quod corporis odio suscipit animi,
            ad libero soluta commodi quidem voluptatem, consequuntur nemo!
          </p>
          <button
            class="products__close"
            type="button"
            aria-label="close details"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item card-set">
        <div class="products__front">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua.
          </p>
          <button
            class="products__open"
            type="button"
            aria-label="open more details"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="products__back">
          <h3 class="products__subtitle--back">ice coffee ingredients</h3>
          <p class="products__desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto
            laudantium distinctio neque omnis fugit explicabo minus officia sint
            similique. Esse consequatur non quod corporis odio suscipit animi,
            ad libero soluta commodi quidem voluptatem, consequuntur nemo!
          </p>
          <button
            class="products__close"
            type="button"
            aria-label="close details"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item card-set">
        <div class="products__front">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua.
          </p>
          <button
            class="products__open"
            type="button"
            aria-label="open more details"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="products__back">
          <h3 class="products__subtitle--back">ice coffee ingredients</h3>
          <p class="products__desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto
            laudantium distinctio neque omnis fugit explicabo minus officia sint
            similique. Esse consequatur non quod corporis odio suscipit animi,
            ad libero soluta commodi quidem voluptatem, consequuntur nemo!
          </p>
          <button
            class="products__close"
            type="button"
            aria-label="close details"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
