<section class="customer-reviewers">
    <div class="container">
        <h2 class="visually-hidden">Customer reviewers</h2>
        <ul class="customer__cards">
            <li class="customer__card">
                <div class="thumb__image">
                    <picture>
                        <source srcset="./images/desktop/reviews_1.png 1x, ./images/desktop/reviews_1@2x.png 2x"
                            type="image/jpg">
                        <img src="./images/desktop/reviews_1.png" alt="Emily, Los Angele">
                    </picture>
                </div>
                <div class="thumb__comment">
                    <p class="customer-reviewers__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor
                        risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.
                    </p>
                    <div class="comment__lines">
                    </div>
                </div>
                <p class="customer-reviewers__customer">Emily, Los Angeles</p>
            </li>
            <li class="customer__card">
                <div class="thumb__image">
                    <picture>
                        <source srcset="./images/desktop/reviews_2.png 1x, ./images/desktop/reviews_2@2x.png 2x"
                            type="image/jpg">
                        <img src="./images/desktop/reviews_2.png" alt="Ann, New York">
                    </picture>
                </div>
                <div class="thumb__comment">
                    <p class="customer-reviewers__comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                        eveniet architecto ea id porro. Illo fugit culpa magni eum perferendis non, in molestias!
                    </p>
                    <div class="comment__lines">
                    </div>
                </div>
                <p class="customer-reviewers__customer">Ann, New York</p>
            </li>
            <li class="customer__card">
                <div class="thumb__image">
                    <picture>
                        <source srcset="./images/desktop/reviews_3.png 1x, ./images/desktop/reviews_3@2x.png 2x"
                            type="image/jpg">
                        <img src="./images/desktop/reviews_3.png" alt="Samanta, Chikago">
                    </picture>
                </div>
                <div class="thumb__comment">
                    <p class="customer-reviewers__comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Doloribus amet accusantium corrupti earum nam itaque ea voluptate! Odit, veritatis deleniti!
                    </p>
                    <div class="comment__lines">
                    </div>
                </div>
                <p class="customer-reviewers__customer">Samanta, Chikago</p>
            </li>
        </ul>
        <ul class="button__list list">
            <li class="list__item">
                <button type="button" class="button__item button__current">
                    <svg class="icon__house" width="12" height="12">
                        <use href="./images/icons.svg#icon-home"></use>
                    </svg>
                </button>
            </li>
            <li class="list__item"><button type="button" class="button__item"></button></li>
            <li class="list__item"><button type="button" class="button__item"></button></li>
        </ul>
    </div>
</section>