.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    // breakpoint: 320px / 768px / 1200px

    @media screen and (min-width: $mobile) {
        max-width: $mobile;
        padding: 0 20px;
    }

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
        padding: 0 16px;
    }
}