.mobile-menu-icon__burger {
  fill: var(--bg-icon-cl);
}

.mobile-menu-icon__close {
  fill: var(--bg-ft-color);
}

.mobile-menu-icon__burger {
  .btn-burger-menu.is-open & {
    opacity: 0;
  }
}

.mobile-menu-icon__close {
  opacity: 0;

  .btn-burger-menu.is-open & {
    opacity: 1;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-mb-tb-menu-color);

  transition: var(--anim-standart);

  z-index: 100;

  transform: translateX(100%);

  &.is-open {
    transform: translateX(0);
    @media screen and (min-width: $tablet) {
      width: 50%;
      right: 0;
      transform: translateX(100%);
    }
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.btn-burger-menu.is-open {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 0;
    right: -50px;
  }
}
.btn-mobile-menu {
  margin-top: 60px;
  margin-bottom: 19px;
  width: 209px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: var(--bg-accent-color);
  }

  &__icon {
    margin-left: 30px;
  }
}

.mobile-menu-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu-nav__item {
  border: solid 1px #e18298;
}

.mobile-menu-nav__link {
  display: block;
  padding-left: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}

.current {
  color: var(--accent-color);
}
