.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--white-color) 22%,
    var(--bg-ft-color) 22%
  );

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 40%,
      var(--bg-ft-color) 40%
    );
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 17%,
      var(--bg-ft-color) 17%
    );
  }
}
.contacts__container {
  @media screen and (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1200;
  }
}
.contacts__list {
  --indent: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    --indent: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }
}

.contacts__list-item {
  --item: 1;
  padding: 40px 32px;
  background: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $tablet) {
    --item: 3;
    max-width: 224px;
    padding: 40px 32px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 368px;
  }
}

.contacts__list-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0 25px;
  margin-bottom: 20px;

  background-color: var(--bg-product-1-color);
  color: var(--white-color);
  border-radius: 4px;
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.81;
  }
}
.contacts__list-title--green {
  background-color: var(--bg-product-2-color);
  @media screen and (min-width: $tablet) {
    padding: 0 23px;
  }
}

.item-list-1 {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}
.item-list-2 {
  margin-bottom: 24px;
  padding: 24px 0;
  border-top: 1px solid var(--icon-cl-2);
  border-bottom: 1px solid var(--icon-cl-2);
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    padding: 32px 0;
  }
}
.contacts__list-time-1 {
  margin-bottom: 8px;
}

.item-list {
  min-width: 216px;
  @media screen and (min-width: $tablet) {
    min-width: 160px;
  }
}

.contacts__list-subtitle {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: var(--main-black-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.87;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.p {
  margin-bottom: 8px;
}

.contacts__list-descr {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-grey-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.64;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__list-time {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--main-pink-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.item-list__contacts {
  display: block;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-grey-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.item-list__contacts:hover {
  color: var(--bg-icon-cl);
}
.footer__btn-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 14.5px;
  }
}

.common__btn-prim {
  display: inline-block;
  width: 161px;
  height: 44px;
  padding-right: 17px;
  padding-left: 17px;
  background-color: var(--bg-icon-cl);
  border: none;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: var(--white-color);

  @media screen and (min-width: $tablet) {
    width: 191px;
  }
  @media screen and (min-width: $desktop) {
    width: 198px;
  }

  &:hover,
  &:focus {

    background-color: var(--bg-red-btn-cl);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    cursor: pointer;
    outline: transparent;
  }
}

.common__btn-sec {
  display: inline-block;
  width: 161px;
  height: 44px;
  background-color: var(--white-color);
  border: none;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-icon-cl);
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 174px;
  }
  @media screen and (min-width: $desktop) {
    width: 168px;
  }

  &:hover,
  &:focus {
    background-color: var(--bg-accent-color);
    cursor: pointer;
    outline: transparent;
  }
}
.btn-icon-white {
  fill: var(--white-color);
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .btn-icon-white {
    margin-left: 13px;
  }
}
#modalmap,
#modalfranchise {
  display: none;
}
.backdrop-map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0003;
  opacity: 1;
  z-index: 5;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.contacts__mod-map {
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
  background: #ffb8ca;
  padding: 45px 10px 20px;
}

.contacts__franchise {
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  background: #ffb8ca;
  padding: 35px 25px 20px;
}

.modal__franchise-title {
  font-size: 18px;
  color: #d41443;
}
.modal__franchise-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal__franchise-header-item {
  display: flex;
  flex-direction: column;
  color: #000;
  padding-bottom: 15px;
}
.modal__franchise-form label {
  display: flex;
  flex-direction: column;
}
.modal__franchise-label-text {
  font-size: 16px;
  margin: 0 0 8px;
}
.modal__franchise-label-input {
  margin-bottom: 14px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 5px 15px;
}
.modal__franchise-feedback {
  width: 100%;
  resize: none;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  padding: 3px 15px;
}
.modal__franchise-submit.btn-dark {
  padding: 10px 15px;
  width: 100%;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 12px;
  width: 200px;
  margin: 0 auto;
}
.btn-dark {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #d64043;
  border: 0;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.25s linear;
}

.contacts__modal-cls {
  position: absolute;
  top: 8px;
  right: 10px;
}

.map-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  padding: 1px 6px;
  border-color: transparent;
  border-width: 2px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.25s linear;
}

.map-frame {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.backdrop-map.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
