.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--white-color) 22%,
    var(--bg-ft-color) 22%
  );

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 40%,
      var(--bg-ft-color) 40%
    );
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 17%,
      var(--bg-ft-color) 17%
    );
  }
}
.contacts__container {
  @media screen and (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1200;
  }
}
.contacts__list {
  --indent: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    --indent: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }
}

.contacts__list-item {
  --item: 1;
  padding: 40px 32px;
  background: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $tablet) {
    --item: 3;
    max-width: 224px;
    padding: 40px 32px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 368px;
  }
}

.contacts__list-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0 25px;
  margin-bottom: 20px;

  background-color: var(--bg-product-1-color);
  color: var(--white-color);
  border-radius: 4px;
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.81;
  }
}
.contacts__list-title--green {
  background-color: var(--bg-product-2-color);
  @media screen and (min-width: $tablet) {
    padding: 0 23px;
  }
}

.item-list-1 {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}
.item-list-2 {
  margin-bottom: 24px;
  padding: 24px 0;
  border-top: 1px solid var(--icon-cl-2);
  border-bottom: 1px solid var(--icon-cl-2);
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    padding: 32px 0;
  }
}
.contacts__list-time-1 {
  margin-bottom: 8px;
}

.item-list {
  min-width: 216px;
  @media screen and (min-width: $tablet) {
    min-width: 160px;
  }
}

.contacts__list-subtitle {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: var(--main-black-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.87;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.p {
  margin-bottom: 8px;
}

.contacts__list-descr {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-grey-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.64;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__list-time {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--main-pink-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.item-list__contacts {
  display: block;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-grey-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.item-list__contacts:hover {
  color: var(--bg-icon-cl);
}
.footer__btn-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 14.5px;
  }
}

.common__btn-prim {
  display: inline-block;
  width: 161px;
  height: 44px;
  padding-right: 17px;
  padding-left: 17px;
  background-color: var(--bg-icon-cl);
  border: none;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white-color);

  @media screen and (min-width: $tablet) {
    width: 191px;
  }
  @media screen and (min-width: $desktop) {
    width: 198px;
  }

  &:hover,
  &:focus {
    background-color: var(--bg-icon-cl);
  }
}

.common__btn-sec {
  display: inline-block;
  width: 161px;
  height: 44px;
  background-color: var(--white-color);
  border: none;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-icon-cl);
  @media screen and (min-width: $tablet) {
    width: 174px;
  }
  @media screen and (min-width: $desktop) {
    width: 168px;
  }

  &:hover,
  &:focus {
    background-color: var(--bg-accent-color);
  }
}
.btn-icon-white {
  fill: var(--white-color);
}
