.products {
  padding-top: 30px;
  padding-bottom: 30px;

  &__label {
    margin-bottom: 15px;

    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-pink-text-color);

    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__title {
    margin-bottom: 148px;

    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);

    @media screen and (min-width: $tablet) {
      margin-bottom: 158px;
      font-size: 48px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 281px;
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }
  &__list {
    text-align: center;
    --indent: 0px;
    @media screen and (min-width: $tablet) {
      --indent: 16px;
    }
    @media screen and (min-width: $desktop) {
      --indent: 32px;
    }
  }
  &__subtitle {
    margin-bottom: 30px;

    font-family: 'Titan One';
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--white-color);

    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.13;
    }
    &::after {
      content: '';
      display: block;
      margin: 32px auto;
      width: 26px;
      border-bottom: 6px dotted var(--white-color);
    }
  }
  &__description {
    margin-bottom: 32px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--white-color);
    @media screen and (min-width: $tablet) {
      line-height: 1.76;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 1.75;
    }
  }
  &__icon {
    fill: var(--accent-color);
  }
}

.products__item {
  position: relative;
  padding: 160px 39px 41px 40px;
  border-radius: 24px;
  --item: 1;
  transition: box-shadow var(--anim-standart), transform var(--anim-standart);

  @media screen and (max-width: 767px) {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: $tablet) {
    --item: 3;
    padding: 118px 32px 40px;
  }
  @media screen and (min-width: $desktop) {
    padding: 165px 63px 64px 60px;
  }
  &:nth-child(1) {
    background-color: var(--bg-hd-color);
  }
  &:nth-child(2) {
    background-color: var(--bg-product-1-color);
  }
  &:nth-child(3) {
    background-color: var(--bg-product-2-color);
  }
  @media screen and (max-width: 767px) {
    &:not(:last-of-type) {
      margin-bottom: 140px;
    }
  }
  &::before {
    content: '';
    width: 280px;
    height: 280px;
    position: absolute;
    top: -29%;
    left: 50%;
    transform: translate(-50%);

    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width: $tablet) {
      width: 224px;
      height: 224px;
      top: -28%;
    }
    @media screen and (min-width: $desktop) {
      width: 368px;
      height: 394px;
      top: -45%;
    }
  }
  &:nth-child(1)::before {
    background-image: url('../images/mobile/products-mb_1.png');

    // Retina mobile
    @include retinaScreen('../images/mobile/products-mb_1@2x.png');

    @media screen and (min-width: $tablet) {
      background-image: url('../images/tablet/products-tb_1.png');

      // Retina tablet
      @include retinaScreen('../images/tablet/products-tb_1@2x.png');
    }

    @media screen and (min-width: $desktop) {
      background-image: url('../images/desktop/products-ds_1.png');

      // Retina desktop
      @include retinaScreen('../images/desktop/products-ds_1@2x.png');
    }
  }
  &:nth-child(2)::before {
    background-image: url('../images/mobile/products-mb_2.png');

    // Retina mobile
    @include retinaScreen('../images/mobile/products-mb_2@2x.png');

    @media screen and (min-width: $tablet) {
      background-image: url('../images/tablet/products-tb_2.png');

      // Retina tablet
      @include retinaScreen('../images/tablet/products-tb_2@2x.png');
    }

    @media screen and (min-width: $desktop) {
      background-image: url('../images/desktop/products-ds_2.png');

      // Retina desktop
      @include retinaScreen('../images/desktop/products-ds_2@2x.png');
    }
  }
  &:nth-child(3)::before {
    background-image: url('../images/mobile/products-mb_3.png');
    // Retina mobile
    @include retinaScreen('../images/mobile/products-mb_3@2x.png');

    @media screen and (min-width: $tablet) {
      background-image: url('../images/tablet/products-tb_3.png');

      // Retina tablet
      @include retinaScreen('../images/tablet/products-tb_3@2x.png');
    }

    @media screen and (min-width: $desktop) {
      background-image: url('../images/desktop/products-ds_3.png');

      // Retina desktop
      @include retinaScreen('../images/desktop/products-ds_3@2x.png');
    }
  }
}
.products__wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
