.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__label {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #ffa5ba;
  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04;
  }
}
.products__title {
  margin-bottom: 148px;

  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: $tablet) {
    margin-bottom: 158px;
    font-size: 48px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 281px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06;
  }
}
.products__list {
  --indent: 0px;
  @media screen and (min-width: $tablet) {
    --indent: 16px;
  }
  @media screen and (min-width: $desktop) {
    --indent: 32px;
  }
}
.products__item {
  position: relative;
  padding: 160px 39px 41px 40px;
  border-radius: 24px;
  --item: 1;
  @media screen and (min-width: $tablet) {
    --item: 3;
    // padding: 118px 32px 40px;
    padding: 118px 35px 40px;
  }
  @media screen and (min-width: $desktop) {
    padding: 165px 63px 64px 60px;
  }
}
.products__item:nth-child(1) {
  background-color: #ffb8ca;
}
.products__item:nth-child(2) {
  background-color: #f0d1a5;
}
.products__item:nth-child(3) {
  background-color: #c2e297;
}
@media screen and (max-width: 767px) {
  .products__item:not(:last-of-type) {
    margin-bottom: 140px;
  }
}
.products__item::before {
  content: '';
  width: 280px;
  height: 280px;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%);

  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 224px;
  }
  @media screen and (min-width: $desktop) {
    width: 368px;
    height: 394px;
    top: -50%;
  }
}
.products__item:nth-child(1)::before {
  background-image: url('../images/products/product-1mob.png');

  // Retina mobile
  @include retinaScreen('../images/products/product-1mob@2x.png');

  @media screen and (min-width: $tablet) {
    background-image: url('../images/products/product-1tab.png');

    // Retina tablet
    @include retinaScreen('../images/products/product-1tab@2x.png');
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/products/product-1desk.png');

    // Retina desktop
    @include retinaScreen('../images/products/product-1desk@2x.png');
  }
}
.products__item:nth-child(2)::before {
  background-image: url('../images/products/product-2mob.png');

  // Retina mobile
  @include retinaScreen('../images/products/product-2mob@2x.png');

  @media screen and (min-width: $tablet) {
    background-image: url('../images/products/product-2tab.png');

    // Retina tablet
    @include retinaScreen('../images/products/product-2tab@2x.png');
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/products/product-2desk.png');

    // Retina desktop
    @include retinaScreen('../images/products/product-2desk@2x.png');
  }
}
.products__item:nth-child(3)::before {
  background-image: url('../images/products/product-3mob.png');
  // Retina mobile
  @include retinaScreen('../images/products/product-3mob@2x.png');

  @media screen and (min-width: $tablet) {
    background-image: url('../images/products/product-3tab.png');

    // Retina tablet
    @include retinaScreen('../images/products/product-3tab@2x.png');
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/products/product-3desk.png');

    // Retina desktop
    @include retinaScreen('../images/products/product-3desk@2x.png');
  }
}
.products__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__subtitle::after {
  content: '';
  display: block;
  margin: 32px auto;
  width: 26px;
  border-bottom: 6px dotted #ffffff;
}
.products__description {
  margin-bottom: 32px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04;
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: $tablet) {
    line-height: 1.76;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.75;
  }
}
.products__wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.products__icon {
  fill: #d41443;
}
